<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/default/all")
    @*    @Styles.Render("~/Content/themes/bootstrap/all")*@
    @Styles.Render("~/Content/themes/icon")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/base")
    <script type="text/javascript" src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/easyui-lang-zh_CN.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerycontrol")
</head>
<body class="easyui-layout" style="overflow-y: hidden">
    <div data-options="region:'north'" style="height: 50px"></div>
    <div data-options="region:'south'" style="height: 20px; background: #E0ECFF">
        <div class="footer" style="line-height: 18px; text-align: center;">By maitonn.cn</div>
    </div>
    <div data-options="region:'west',split:true" title="导航菜单" id="leftMenu" style="width: 180px;">
        <div class="easyui-accordion" data-options="border:false,fit:true">

            <div title="客户管理">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "customercompany")">
                            <span class="link-icon icon-customercompany "></span>
                            我的客户</a>
                    </li>
                    <li>
                        <a href="@Url.Action("myshare", "customercompany")">
                            <span class="link-icon icon-share "></span>
                            我的共享</a>
                    </li>
                    <li>
                        <a href="@Url.Action("sharetome", "customercompany")">
                            <span class="link-icon icon-shareme "></span>
                            共享给我</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "role")">
                            <span class="link-icon icon-role "></span>
                            已删除客户</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "group")">
                            <span class="link-icon icon-group "></span>
                            公有客户</a></li>

                    <li>
                        <a href="@Url.Action("index", "department")">
                            <span class="link-icon icon-department "></span>
                            无效客户</a></li>

                    <li>
                        <a href="@Url.Action("index", "member")">
                            <span class="link-icon icon-user "></span>
                            跟单日志</a></li>

                    <li>
                        <a href="@Url.Action("index", "member")">
                            <span class="link-icon icon-user "></span>
                            计划日志</a></li>
                </ul>
            </div>
            <div title="权限管理">
                <ul>
                    <li>
                        <a href="@Url.Action("list", "home")">
                            <span class="link-icon icon-controller "></span>
                            控制器管理</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "action")">
                            <span class="link-icon icon-action "></span>
                            操作管理</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "role")">
                            <span class="link-icon icon-role "></span>
                            角色管理</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "group")">
                            <span class="link-icon icon-group "></span>
                            群组管理</a></li>

                    <li>
                        <a href="@Url.Action("index", "department")">
                            <span class="link-icon icon-department "></span>
                            部门管理</a></li>


                </ul>
            </div>

            <div title="用户管理">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "member")">
                            <span class="link-icon icon-user "></span>
                            用户管理</a></li>
                </ul>
            </div>

            <div title="系统数据">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "citycate")">
                            <span class="link-icon icon-city "></span>
                            城市数据</a></li>
                    <li>
                        <a href="@Url.Action("index", "contractcate")">
                            <span class="link-icon icon-contractcate "></span>
                            合同类别</a></li>
                    <li>
                        <a href="@Url.Action("index", "coopcate")">
                            <span class="link-icon icon-coopcate "></span>
                            合作状态</a></li>
                    <li>
                        <a href="@Url.Action("index", "customercate")">
                            <span class="link-icon icon-customercate "></span>
                            客户类型</a></li>
                    <li>
                        <a href="@Url.Action("index", "filecate")">
                            <span class="link-icon icon-filecate "></span>
                            文件类型</a></li>
                    <li>
                        <a href="@Url.Action("index", "industrycate")">
                            <span class="link-icon icon-industrycate "></span>
                            客户行业</a></li>
                    <li>
                        <a href="@Url.Action("index", "jobcate")">
                            <span class="link-icon icon-jobcate "></span>
                            职位类型</a></li>
                    <li>
                        <a href="@Url.Action("index", "jobtitlecate")">
                            <span class="link-icon icon-jobtitlecate "></span>
                            职称类型</a></li>
                    <li>
                        <a href="@Url.Action("index", "relationcate")">
                            <span class="link-icon icon-relationcate "></span>
                            客户关系</a></li>
                    <li>
                        <a href="@Url.Action("index", "sourcecate")">
                            <span class="link-icon icon-sourcecate "></span>
                            客户来源</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div id="mainPanle" data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="欢迎使用" style="padding: 2px; overflow: hidden;" id="home">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabrefresh">刷新</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">退出</div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
