@{
    ViewBag.Title = "CoopCate";
}

<table id="CoopCate_dg" title="CoopCate" class="easyui-treegrid"  
    url="@Url.Action("getall")" idField='ID' treeField='CateName'
    toolbar="#CoopCate_toolbar" pagination="true" pagePosition="bottom"  pageList="[500,1000]"
    rownumbers="true" fitcolumns="true" singleselect="true" fit="true" striped="true">
    <thead>
        <tr>
           <th field="ID" width="50">ID</th>
           <th field="CateName" width="50">CateName</th>
           <th field="PID" width="50">PID</th>
           <th field="Code" width="50">Code</th>
           <th field="Level" width="50">Level</th>
           <th field="OrderIndex" width="50">OrderIndex</th>
           
        </tr>
    </thead>
</table>
<div id="CoopCate_toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="CoopCate_create()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="CoopCate_edit()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="CoopCate_deleteSingle()">删除</a>
    <div id="searchbox">
        @Html.EditorForModel()
        <div class="form-field form-field-submit">
            <button type="button"  onclick="CoopCate_getSearch()" class="btn btn-green btn-save ">
                <i class="icon-button icon-btn-search"></i>
                查 询</button>
        </div>
    </div>
</div>

<div id="CoopCate_kwindow" class="easyui-dialog" data-options="iconCls:'icon-save',modal:true,closed:true,onLoad:CoopCate_onformLoad" style="width: 500px; height: 300px;">
</div>

<script type="text/javascript">

    function CoopCate_create() {
        var url = "@Url.Action("Create")";
        $('#CoopCate_kwindow').dialog('open')
        .dialog('refresh', url)

    }
    function CoopCate_onformLoad() {
        var title = $('#CoopCate_kwindow').find('form').attr('formtitle');
        $('#CoopCate_kwindow')
        .dialog('setTitle', title)
        $.validator.unobtrusive.parse($('#CoopCate_kwindow'));
    }

    function CoopCate_edit() {
        var row = $('#CoopCate_dg').treegrid('getSelected');
        if (!row) {
            Maitonn.JHelper.showError('提醒', '请选择要编辑的行');
        } else {
            var url = "@Url.Action("Edit")" + "/" + row.ID;
            $('#CoopCate_kwindow').dialog('open')
            .dialog('refresh', url)
        }
    }

    function CoopCate_deleteSingle() {
        var row = $('#CoopCate_dg').treegrid('getSelected');
        if (!row) {
            Maitonn.JHelper.showError('提醒', '请选择要删除的行');
        } else {
            var id = row.ID;
            $.messager.confirm('删除提醒', '确认删除该项?', function (r) {
                if (r) {
                     $.post("@Url.Action("Delete")", { ID: id }, function (res) {
                        Maitonn.JHelper.showMessage(res);
                        if(res.Success){
                            $('#CoopCate_dg').treegrid('reload');
                        }
                     })
                }
            });
        }
    }

    function CoopCate_ajaxFormSuccess(res) {
        Maitonn.JHelper.showMessage(res);
        if(res.Success){
            $('#CoopCate_kwindow').dialog('close')
            $('#CoopCate_dg').treegrid('reload');
        }
    }

    function CoopCate_getSearch() {
        $('#CoopCate_dg').treegrid('load', {
            CoopCate_SearchName: $('#CoopCate_SearchName').val()
        });
    }
    
     $(function () {
        var resizeHandler = null;
        $(window).resize(function () {
            if (resizeHandler) clearTimeout(resizeHandler);
            resizeHandler = setTimeout(function () {
                $('#CoopCate_dg').treegrid('resize');
            }, 200);
        });
    })
</script>

