@{
    ViewBag.Title = "Department";
}

<table id="Department_dg" title="Department" class="easyui-treegrid"  
    url="@Url.Action("getall")" idField='ID' treeField='Name'
    toolbar="#Department_toolbar" pagination="true" pagePosition="bottom"  pageList="[500,1000]"
    rownumbers="true" fitcolumns="true" singleselect="true" fit="true" striped="true">
    <thead>
        <tr>
           <th field="ID" width="50">ID</th>
           <th field="Name" width="50">Name</th>
           <th field="Description" width="50">Description</th>
           <th field="LeaderID" width="50">LeaderID</th>
           <th field="PID" width="50">PID</th>
           <th field="Code" width="50">Code</th>
           <th field="Level" width="50">Level</th>
        </tr>
    </thead>
</table>
<div id="Department_toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Department_create()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Department_edit()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Department_deleteSingle()">删除</a>
    <div id="searchbox">
        @Html.EditorForModel()
        <div class="form-field form-field-submit">
            <button type="button"  onclick="Department_getSearch()" class="btn btn-green btn-save ">
                <i class="icon-button icon-btn-search"></i>
                查 询</button>
        </div>
    </div>
</div>

<div id="Department_kwindow" class="easyui-dialog" data-options="iconCls:'icon-save',modal:true,closed:true,onLoad:Department_onformLoad" style="width: 500px; height: 300px;">
</div>

<script type="text/javascript">

    function Department_create() {
        var url = "@Url.Action("Create")";
        $('#Department_kwindow').dialog('open')
        .dialog('refresh', url)

    }
    function Department_onformLoad() {
        var title = $('#Department_kwindow').find('form').attr('formtitle');
        $('#Department_kwindow')
        .dialog('setTitle', title)
        $.validator.unobtrusive.parse($('#Department_kwindow'));
    }

    function Department_edit() {
        var row = $('#Department_dg').treegrid('getSelected');
        if (!row) {
            Maitonn.JHelper.showError('提醒', '请选择要编辑的行');
        } else {
            var url = "@Url.Action("Edit")" + "/" + row.ID;
            $('#Department_kwindow').dialog('open')
            .dialog('refresh', url)
        }
    }

    function Department_deleteSingle() {
        var row = $('#Department_dg').treegrid('getSelected');
        if (!row) {
            Maitonn.JHelper.showError('提醒', '请选择要删除的行');
        } else {
            var id = row.ID;
            $.messager.confirm('删除提醒', '确认删除该项?', function (r) {
                if (r) {
                     $.post("@Url.Action("Delete")", { ID: id }, function (res) {
                        Maitonn.JHelper.showMessage(res);
                        if(res.Success){
                            $('#Department_dg').treegrid('reload');
                        }
                     })
                }
            });
        }
    }

    function Department_ajaxFormSuccess(res) {
        Maitonn.JHelper.showMessage(res);
        if(res.Success){
            $('#Department_kwindow').dialog('close')
            $('#Department_dg').treegrid('reload');
        }
    }

    function Department_getSearch() {
        $('#Department_dg').treegrid('load', {
            Department_SearchName: $('#Department_SearchName').val()
        });
    }
    
     $(function () {
        var resizeHandler = null;
        $(window).resize(function () {
            if (resizeHandler) clearTimeout(resizeHandler);
            resizeHandler = setTimeout(function () {
                $('#Department_dg').treegrid('resize');
            }, 200);
        });
    })
</script>

